*, *:after, *:before {
    box-sizing: border-box;
}

.headerImage {
    width: 100%;
}
/* Test column format*/
.four-column {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 4;
  -webkit-column-gap: 1em;
  column-count: 4;
  column-gap: 1em;
}
.header-4 {
    color:grey;
}
.grid {
    font-size: 0;
}

.grid > div {
    display: inline-block;
    font-size: medium;
}

.grid-2 > div {
    width: 50%;
}

.grid-3 > div {
    width: 33%;
}

/* Found better classes for formatting*/
.container {
  display: -webkit-flex;
  display: flex;
}
.spacingCol {
  -webkit-flex: initial;
          flex: initial;
  width: 200px;
}
.alignedCol {
  -webkit-flex: none;
          flex: none;
  width: 200px;
}
.flexWidth_2p {
  -webkit-flex: 2;
          flex: 2;
}
.flexWidth_1p {
  -webkit-flex: 1;
          flex: 1;
          position:relative;
}
.flexWidth_1p postbox{
    display:inline-block ;
    border: 1px solid gray;
    bottom: 0;
    right: 0;
    position: absolute
}
.formSearch {
    width:150px;
    border:none;
}
